<%- include('partials/header') -%>
<div class="flex flex-row h-5/6 border-2 border-green-500 mt-5">
    <section class="w-50 homepage-pic">

    </section>
    <main class="container w-50 border-2 border-black h-full flex flex-col justify-center gap-y-40">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ipsam obcaecati neque corrupti repellendus expedita minima similique est ducimus, cum error suscipit odio iure non id rerum officia aliquid earum.
        </p>
        
        <div class="row justify-content-around">
            <a href="/login" class=" col-3 btn btn-primary text-2xl"> Login</a>
            <a href="/signup" class=" col-3 btn btn-primary text-2xl"> Signup</a>
        </div>
    </main>
</div>





    

<%- include('partials/footer') -%>