<%- include('partials/header') -%>
<h1 class="pt-4 text-emerald-600 text-6xl text-center font-bold hover:underline decoration-2 underline-offset-2">
  <a class="hover:text-emerald-600 cursor-pointer" href="/">Inventory Management App</a>
</h1>
<div class="flex h-full w-full">
  <main class="container card w-4/12 h-3/6 bg-base-100 shadow-lg m-auto p-4">
    <h3 class="text-center text-3xl font-semibold">Login</h3>
    <div class="row justify-content-center">
      <section class="col-6 mt-5">
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div class="alert alert-info"><%= el.msg %></div>
        <% }) %> <% } %>
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-2xl"
              >Email address</label
            >
            <input
              type="email"
              class="form-control py-2 text-3xl"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="email"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-2xl">Password</label>
            <input
              type="password"
              class="form-control py-2 text-3xl"
              id="exampleInputPassword1"
              name="password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
      </section>
    </div>
  </main>
</div>
<%- include('partials/footer') -%>
