/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 62.5%;
    height: 100%;
}

body {
   height: 100%;
}

aside ul {
    padding: 1rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
    border: 4px solid black;
}

aside {
    padding: 1rem .5rem;
    height: 100%;
}

div.leftSide {
    width: 20%;
}

div.rightSide {
    width: 80%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

.this-container {
    border: 2px solid red;
}

.homepage-pic {
    background: no-repeat center/100%  url(../imgs/undraw_all_the_data.svg);
    overflow: auto;
}

#indexbg-image {
    background: no-repeat center/80%  url(../imgs/3515462.jpg);
}