/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 62.5%;
    height: 100%;
}

body {
   height: 100%;
}

aside ul {
    padding: 1rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.hidden {
    display: none;
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
    border: 4px solid black;
}

aside {
    padding: 1rem .5rem;
    height: 100%;
}

div.leftSide {
    width: 20%;
}

div.rightSide {
    width: 80%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
    display: none;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.not{
    text-decoration: underline;
}

.this-container {
    border: 2px solid red;
}

.homepage-pic {
    background: no-repeat center/100%  url(../imgs/undraw_all_the_data.svg);
    overflow: auto;
}

#indexbg-image {
    background: no-repeat center/80%  url(../imgs/3515462.jpg);
}

/* Height media query */
 @media screen and (max-height: 780px){
    #top-stat {
        display: none;
    }
} 

/* Width media query */
@media screen and (max-width: 1299px){
    .leftSide, .recentItems, #top-stat, .idkTest {
        display: none !important;
    }
    .rightSide {
        width: 100% !important;
    }
    .rightSide {
        padding: 0 !important;
    }
    .graph {
        padding: 0 !important;
        height: 90% !important;
    }
    div.canvasChart {
        width: 50%;
    }
   .mobileButtons li{
    padding: 0 !important;
   }
   .mobileButtons li label, .mobileButtons li a button {
    font-size: 1.2rem !important;
    width: 100%;
   }
   .mobileButtons li a button {
    
   }
   .mobileButtons li a {
    background: none;
    padding: 0;
   }
}

@media (min-width: 1300px){
    .drawer {
        display: none;
    }
    .mobile-graph {
        display: none;
    }
    .select {
        display: none;
    }
}